
<div class="jumbotron w-50">
  <h1 class="display-3">PLANNER</h1>
  <p class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Morbi semper efficitur eros,  
    et. Phasellus vitae quam faucibus, sollicitudin felis sit amet,
    tempor risus. Proin pulvinar 
    id venenatis libero. Nam ornare sit amet nisl in rutrum. Etiam odio
    odio, accumsan ac varius ut. 
    Quisque hendrerit imperdiet diam, quis sodales velit tempor sit amet. 
    Cras in nisi laoreet, maximus
    vitae, sodales sapien. Nullam nec nisl fringilla velit dictum aliquet.
    Ut pulvinar, nisi ac consectetur.
  </p>
</div>